<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order Confirmation: Order #<%=@order.id%></h1>
    <h3>Thank you for your order!</h3>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
    <% @line_items.each do |line_item| %>
      <%= render 'line_item', line_item: line_item %>
    <% end %>
      </tbody>
    </table>
    <p>Total amount: <%= humanized_money_with_symbol @order.total_cents / 100.00 %></p>
  </div>

  </body>
</html>