// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

// App
@import "products";
@import "users";

// Global

@font-face {
  font-family: 'Rubik';
  src: url('Rubik/Rubik-Regular.ttf') format('truetype');
  src: url('Rubik/Rubik-Bold.ttf') format('truetype');
  src: url('Rubik/Rubik-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Fredoka One';
  src: url('Fredoka One/Fredoka-Regular.ttf') format('truetype');
  src: url('Fredoka One/Fredoka-Bold.ttf') format('truetype');
  src: url('Fredoka One/Fredoka-Italic.ttf') format('truetype');
}

html {
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

body {
  position: relative;
  min-height: 100%;
  padding-top: 105px;
  padding-bottom: 18rem;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.dropdown-menu > li > span {
  font-style: italic;
  padding: 3px 20px;
}

footer.page-footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 136px;
}

.navbar-default {
  height: 105px;
  .container {
    height: 100%;
  }
}

#navbar {
  height: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}

.navbar-brand {
  display: flex;
  height: 100%;
  h1 {
    font-family: 'Fredoka One', sans-serif;
    color: darkgreen;
    margin-bottom: 20px;
  }
}

.top-margin {
  margin-top: 1rem;
}