// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

footer.page-footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 1rem;
}