<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
      <p><%= humanized_money_with_symbol product.price %></p>
    <% end %>
  </header>
  
  <% if product.quantity == 0 %>
    <aside class="soldout">
      <span>SOLD OUT!</span>
    </aside>
  <% end %>
</article>
